---
layout: page
title: Categories
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
      <a href="#{{ tag[0] | slugify }}" class="post-tag"><i class="fa fa-tag"></i> {{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            <li>
              {{ post.title }}
              <small class="post-date">{{ post.date | date_to_string }}</small>
            </li>
          </a>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
